body{
  font-family:sans-serif;;
}
h1{
  text-align: right;
font-family:fantasy;
}
h2{
  font-family: 'Ruslan Display', cursive;
 font-size: 50px;
  text-align: center;
  color:#008080;
}

.big-heading{
  padding-top: 100px;
font-family: "Train One", cursive;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #ffffff;
}
.title-img{
  width: 40%;
  height:100%;
  transform: rotate(20deg);/*to rotate the image*/
  position: absolute;
  right: 30%;
  padding-top: 50px;
}
.first-row{
  padding-top: 50px;
}
.row{
  background-color:  #008080;

}
.wish{
  color: #ffffff;
padding-top: 30px;
  padding-left: 30px;
}
.leftmarg{
  font-size: 25px;
  padding-top: 102px;
  width:100%;/*to move the content to left*/
  margin:auto;/*to center the content */
  text-align: left;/*to left-align*/

}
.f-rw{
  padding-top: 65px;
  color: black;
  height: 20%;
  width:20%;
  border-radius: 50%;
  float: left;
  text-align: left;
  margin-right: 30px;
}

.center{
  border-radius: 50%;
  display: block;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.alignRow{
  padding-top: 230px;
  font-size: 25px;
}
.final{
  padding-top: 0%;
  text-align: center;
  font-size: 25px;
}
h3{
  font-size: 35px;
  font-family: 'Pacifico', cursive;

  color: #008080;
}
p{
  font-family: 'Amarante', cursive;
}
.bd{
  align-content: center;
  margin-right: 100 px;

}
.imageColumn{
  padding-top: 50px;
  margin-top: 100px;
  display:inline-block;


}
#wsh{
  padding-top: 100px;
   
}